* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 124px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container {
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
}