* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    width: 100%;
}

.description__shop {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%);
}

.btn {
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    outline: none; /*без обводки*/
    cursor: pointer;
}

.btn-primary {
    border-radius: 2px;
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFF;
}

.btn-outline {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    background: #FFF;
    color: #595959;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    display: flex;
    align-content: center;
    min-height: 124px;
}

.title_info {
    margin-left: 10px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description__shop--box {
    padding-left: 145px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url(/img/banners/banner-img.png);
    background-repeat: no-repeat;
    padding: 68px;
    border-radius: 10px;
    background-size: contain;
    background-position: center right;
    background-color: #fff1b8;
}

.banner-item-title {
    color: #302C34;
    font-style: 39px;
    font-weight: 700;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item-subtitle {
    color: #302C34;
    font-style: 24px;
    font-weight: 400;
    max-width: 50%;
    margin: 0;
}

.products {

}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px; /*для переноса при сжатии*/
}

.products-header--title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.product-header--search {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    height: 34px;
    min-width: 306px;
    padding: 5px 12px;
}

.product-header--search:focus {
    outline: none;
    border: 1px solid #D9D9D9;
}

.product-header--search:placeholder {
    color: #BFBFBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.footer {
    min-height: 156px;
    display: flex;
    align-content: center;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    flex-wrap: wrap;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-nav ul li {
    color: #595959;
    font-style: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
    margin-top: 44px;
    margin-bottom: 90px;
}

.products-card {
    width: calc((100% - 48px) / 3);
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-decoration: none;
}

.products-card__image {
    width: 100%;

}

.products-card__image img {
    width: 100%;
    
}

.products-card__description {
    padding: 20px 24px 34px 24px;
}

.products-card__description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

..products-card__description-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card__description--title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}

.products-card__description-badge {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border-right: 2px;
    background: #262626;
    padding: 1px 8px;
}

.products-card__description-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 25px;
    column-gap: 25px;
}

.products-card__description-info--raiting {
    color: #FFC107;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.products-card__description-info--price {
    color: #8C8C8C;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.products-card__description-info--group {
    color: #8C8C8C;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.products-card__description-info--group::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8C8C8C;
    position: absolute;
    left: -14px;
    top: 14px;
}

.products-card__description---name {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.products-card__description---text {
    margin: 0;
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products-card__description-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
}

.products-card__description-controls---price {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.cart-modal__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    align-items: center;
    justify-content: center;
}

.cart-modal__overlay.open {
    display: block;
}

.cart-modal {
    width: 100%;
    max-width: 780px;
    padding: 40px 45px;
    border-radius: 5px;
    background: #FFF;
}

.cart-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.cart-modal__header--title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.cart-modal__header--close {
    cursor: pointer;
}

.cart-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.cart-modal__footer--price {
    border-radius: 5px;
    background: #262626;
    color: #FAFAFA;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
}

.cart-modal__footer--controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.cart-item:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.cart-item__title {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.cart-item__controls {
    display: flex;
    align-items: center;

}

.cart-item__controls button {
    border: 1px solid #40A9FF;
    color: #40A9FF;
}

.cart-item__controls--price {
    margin-right: 47px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.cart-item__controls--count {
    margin-left: 15px;
    margin-right: 15px;
    
}









@media (max-width: 991px) {
    .banner-item {
        background-image: none;
    }

    .banner-item-subtitle {
        max-width: 100%;

    }
    .products-card {
        width: calc((100% - 24px) / 2);

    }

}

@media (max-width: 768px) {
    .products-card {
        width: 100%;
    }
}